Repository atomicpages/simple-math-ast: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: remove ramda
  .eslintrc
  .github/workflows/on_push.yml
  .husky/pre-push
  .npmrc
  .vscode/launch.json
  README.md
  package.json
  pnpm-lock.yaml
  src/__tests__/queries.test.ts
  src/config.ts
  src/index.ts
  src/parse/__tests__/node.test.ts
  src/parse/__tests__/parse.bench.ts
  src/parse/__tests__/parse.test.ts
  src/parse/index.ts
  src/parse/node.ts
  src/parse/parse.ts
  src/queries.ts
  src/tokenize/__tests__/rules.test.ts
  src/tokenize/__tests__/tokenize.bench.ts
  src/tokenize/__tests__/tokenize.test.ts
  src/tokenize/__tests__/utils.test.ts
  src/tokenize/index.ts
  src/tokenize/rules.ts
  src/tokenize/token.ts
  src/tokenize/unknown.ts
  src/tokenize/utils.ts
  src/types.ts
  tsconfig.build.json
  tsconfig.json
  vitest.config.mts
Due: eslint --fix, prettier --write

chore: add benchmarks
  package-lock.json
  package.json
  src/__tests__/parse.bench.ts
  vitest.config.mts
Due: eslint --fix, prettier --write

chore: move back to ramda
  .github/workflows/on_push.yml
  .release.json
  package.json
  pnpm-lock.yaml
  src/parse/__tests__/parse.test.ts
  src/tokenize/index.ts
  src/tokenize/token.ts
Due: eslint --fix, prettier --write

chore: add docs
  .github/workflows/static.yml
  .gitignore
  .lintstagedrc
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: export correct types
  .releaserc.json
  package.json
  src/index.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  e1bcd44ce4a7f690f597a168c4f7ddc27a5ccd8e
Due: none

feat: intentional bump
  package.json
Due: prettier --write

Notes added by 'git notes add'
  91f82786489587eb124e2938d8cb14e002148fd1
Due: none

fix: build on CI lol
  .github/workflows/on_push.yml
Due: none

Notes added by 'git notes add'
  146dd9e648fd8d84af528157d322a883b7acc654
Due: none

fix(types): export more goodies
  package.json
  src/index.ts
  src/parse/node.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  07d101b1fd176f15ac3660d4c9f46001731746d3
Due: none

test: add more benchmarks
  README.md
  package.json
  pnpm-lock.yaml
  src/parse/__tests__/parse.bench.ts
Due: eslint --fix, prettier --write

feat: fix ESM importing
  package.json
  pnpm-lock.yaml
  scripts/fd.sh
  src/parse/parse.ts
Due: eslint --fix, prettier --write

ci: fix actions
  .github/workflows/on_push.yml
Due: none

Notes added by 'git notes add'
  d525af9b81b42b067089577cd345a7ca5fae9dd5
Due: none

chore: fix actions
  .github/workflows/static.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,js}
  prettier --write: any of: *.{md,json}
